<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUMTUM</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h4>All Chats!</h4>
   
    <% for(let chat of chats) { %>
        <div class="chat">
            <div>
                <p>From:<%= chat.from %></p>
            </div>
        
        <div id="msg">
            <p id="message">Message:<%= chat.msg %></p>
        </div>
        <div>
            <p>Recived by:<%= chat.to %></p>
        </div>
        <hr>
        <div>
            <p><%= chat.created_at.toString().split(" ")[4]%></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(".")%></p>
        </div>
        <div id="btn">
      <form method="get" action="/edit/<%= chat._id %>"><button class="btn">Edit</button></form>
        <form method="post" action="/delete/<%= chat._id %>?_method=delete">
            <button class="btn">Delete</button>
        </form>
        </div>
        </div>
        <br><br>
        <% } %>
        <form  method="get" action="/add">
            <button  id="new">New_Chats</button>
        </form>
</body>
</html>